@charset "UTF-8";
body {
    font-family:sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: justify;
    color: black;
    margin: 5%; 
    padding: 0px;
    border: 0px;
}
h1, h2{
    text-align: left;
    color: #7ea218;
    margin: 0px;
    padding: 0.2rem 0px;
    clear: both;
}

h1 {
    counter-reset: section; /* set section to 0 */
    font-size: 3rem;
    color: #7ea218;
    font-weight: bold;
    text-align: center;
}
h2:before {
    content: counter(section) ". ";
    counter-increment: section;
}
h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}
#doraemon{
   width: 800px;
   height: 400px;
   background-image: url("../image/ex6-mario.png");
   position: relative;
   cursor: url("../image/ex6-smile-christmas.cur"),url("../image/ex6-smile-christmas.gif"),pointer;
}
div[id^="doraemon-"]{
    background-image: url("../image/ex6-doraemon.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
}
#doraemon-gorra{
    background-position: -150px -450px;
    left:10px;
    bottom: 25px;
}
#doraemon-volador{
    background-position: -450px -150px;
    left:200px;
    bottom: 200px;
}
#doraemon-arpa{
    background-position: -150px 0px;
    left:400px;
    bottom: 180px;
}
#doraemon-piruleta{
    background-position: -300px -450px;
    left:600px;
    bottom: 50px;
}