@charset "UTF-8";
body {
    font-family:sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: justify;
    color: black;
    margin: 5%; 
    padding: 0px;
    border: 0px;
}
h1, h2{
    text-align: left;
    color: #7ea218;
    margin: 0px;
    padding: 0.2rem 0px;
    clear: both;
}

h1 {
    counter-reset: section; /* set section to 0 */
    font-size: 3rem;
    color: #7ea218;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}
h2:before {
    content: counter(section) ". ";
    counter-increment: section;
}

#doraemon{
   width: 800px;
   height: 400px;
   background-image: url("../image/ex6-mario.png");
   position: relative;
   cursor: url("../image/ex6-smile-christmas.cur"),url("../image/ex6-smile-christmas.gif"),pointer;
}
div[id^="doraemon-"]{
    background-image: url("../image/ex6-doraemon.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
}
#doraemon-gorra{
    background-position: -150px -450px;
    left:10px;
    bottom: 25px;
}
#doraemon-volador{
    background-position: -450px -150px;
    left:150px;
    bottom: 200px;
}
#doraemon-arpa{
    background-position: -150px 0px;
    left:400px;
    bottom: 180px;
}
#doraemon-piruleta{
    background-position: -300px -450px;
    left:600px;
    bottom: 50px;
}
#conan{
    position: relative;
    left:200px;
}
#animes{
    list-style-type: none;
    position: relative;
    outline-color: blue;
    outline-style: dotted;
    outline-width: 1px;
    width: 60%;
    counter-reset: linea;
    margin-bottom: 2rem;
}
#animes li:before{
    content: counter(section) "." counter(linea) ". ";
    counter-increment: linea;
    left: -0.5rem;
    position: relative;
}
#animes li:nth-child(2n){
    position: absolute;
    left: 300px;
}
#animes li:nth-child(2n+1){
    position: relative;
    left: 50px;
}
/* barra d'eines i icones de la barra*/
#eines{
    height: 120px; /* mida de les icones 118 x 188 px */
    width: auto;
    position: relative; 
    background-color: transparent;
}

#eines img{
    /* definim propietats de les imatges */
    border-style: solid;
    border-width: 1px;
    border-color: red;
    border-radius: 6px; /* CSS3 cantonades rodones */
}

.eina {
    /*definim mides de les icones */
    width: 118px; 
    height: 118px;	
    background: url("../image/ex6-IconsSocial.png") no-repeat; /* dades genèriques per a la imatge de fons
    Treballem amb la imatge "IconsSocial.png" que anem posicionant amb "background-position". */
}
.Android{
    background-position: -236px 0px;
}
.Android:hover{
    background-position: -118px 0px; /*al ponerse encima se cambia por amazon*/
}
.Apple{
    background-position: -354px 0px;
}
.Apple:hover{
    background-position: -236px 0px;
}
.Windows{
    background-position: -944px -236px;
}
.Windows:hover{
    background-position: -826px -236px;
}
.Google{
     background-position: -236px -118px;
}
.Google:hover{
     background-position: -118px -118px;
}
.Twitter{
    background-position: -354px -236px;
}
.Twitter:hover{
    background-position: -236px -236px;
}