@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Rosario:400,700,400italic,700italic);

body {
    font-family: 'Rosario', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5em;
    text-align: justify;
    text-align-last: left;
    color: black;
    margin: 0px; 
    padding: 0px;
    border: 0px;
}
p {
    margin: 1rem 0px;
}
p:first-of-type {
    margin-top: 0px;
}
h1, h2, h3 {
    font-family: Bodoni, "Times New Roman", serif;
    text-align: left;
    color: #7ea218;
    margin: 0px;
    padding: 0.2rem 0px;
    clear: both;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}
h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
em:lang(gl){
    font-style: italic;
}
em:lang(gl), .cometes{
    quotes: "\201c" "\201d";
}
em:lang(gl):before, .cometes:before{ content: open-quote }
em:lang(gl):after,  .cometes:after{ content: close-quote }
i {
    font-style: italic;
    
}
ul, ol{
    margin: 1rem 0px 1rem 2rem;
}
ul li{
    list-style-type: square;
}
ol li{
    list-style-type: decimal;
}
header {
    background-color: #7ea218;
    color: #dfecb6;
    height: 5rem;
}
header h1{
    color: #dfecb6;
    padding: 1.5rem;
    margin: 0px;
}
figure {
   margin: 2rem auto; 
   width: 50%;
}
figure.video{
    margin: 1rem auto;
    width: 280px;
}
aside, section {
    float: left;
    padding: 1%;
}

section {
    width: 68%;
    padding: 2%;
}
aside{
    width: 24%;
    padding: 2%;
    background-color: #dfecb6;
}
figcaption {
    text-align: center;
}
.float-left{
    width: auto;
    float: left;
    margin: 0px 2rem 0px 0px;	
}
cite, sup{
    font-size: 0.8rem;
    vertical-align: super;
    padding: 0px 0.2rem;
}
sub {
    font-size: 0.8rem;
    vertical-align: sub;
    padding: 0 0.2rem;
}
caption {
    caption-side: bottom;
    text-align: center; 
    margin-top: 0.5rem;
}
table {
    margin: 0.8rem auto;
}
td, th {
    vertical-align: middle;
    padding: 0.125rem 0.8rem;
    font-weight: normal; 
    border-style: solid;
    border-width: 0.0625rem;
}
th {
    color: #fff;
    background-color: #404040;
    text-align: center;
}
td {
    border-color: #404040;
    text-align: left;
}
thead th { 
    border-color: #404040 #ffffff;
}
thead th:first-child{
    border-left-color: #404040;
}
thead th:last-child{
    border-right-color: #404040;
}
address {
    display: block;
    font-style: italic;
}
blockquote {
    margin: 1rem 3rem;
}
fieldset{
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    padding: 1rem;
}
pre{
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 0.8rem;
    color: steelblue;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin: 1rem 0px;
    padding: 1rem;
    background-color: lightgray;
    overflow: auto; /*scroll*/
    white-space: pre-wrap; /*corta por palabras*/
}
strong {
    font-weight: bolder;
}