@charset "UTF-8";
/* estils mapa svg */

path {
    fill: none;
    stroke:#000000;
    stroke-width:0.4;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none
}

path:hover{
    stroke:blue;
    stroke-width:1;
}

#vall-d\'aran {
    fill: yellow;
    stroke: red;
}
#barcelonès {
    fill: red;
}

#tarragonès {
    fill: blue;
}

#gironès {
    fill: green;
}